@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-100: #cce6e6;
  --color-primary-200: #99cccc;
  --color-primary-300: #66b3b3;
  --color-primary-400: #339999;
  --color-primary-500: #008080;
  --color-primary-600: #006666;
  --color-primary-700: #004d4d;
  --color-primary-800: #003333;
  --color-primary-900: #001a1a;
  --color-background: #faf9f6;
  --color-foreground: #000000;

  --font-dela: "Dela Gothic One";
  --font-cal-sans: "Cal Sans";
  --font-inter: "Inter"
}

@font-face {
  font-family: "Dela Gothic One";
  src: url("/fonts/DelaGothicOne-Regular.woff2");
}

@font-face {
  font-family: "Cal Sans";
  src: url("/fonts/CalSans-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Thin.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-ExtraLight.woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Light.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-SemiBold.woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter_18pt-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  50% {
    backdrop-filter: blur(8px);
  }
  100% {
    backdrop-filter: blur(16px);
  }
}

.animate-blur {
  animation: blur ease-in-out;
  animation-timeline: scroll();
}
